@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    @apply text-2xl font-bold mx-2;
  }
  h2 {
    @apply text-xl font-semibold mx-1;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 cursor-pointer;
  }
  .header {
    box-shadow: 0 6px 2px -2px rgb(212, 208, 208);
    height: 56px;
  }
  .login_button {
    @apply bg-cyan-400 text-white px-4 py-2 font-bold hover:outline hover:outline-cyan-400 hover:text-cyan-400 hover:bg-white duration-200;
  }
  .nav_li {
    @apply font-bold text-slate-400 text-lg flex items-center;
  }
  .table_shadow {
    @apply shadow-md;
  }
  .loading_indicator {
    @apply text-center text-xl mt-[10%];
  }
}
